@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Abril+Fatface&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary: #ffdddd;
  --secondary: #c2e8ed;
}

// @media only screen and (min-width: 600px) {
//   .block-content {
//     figure {
//       @apply w-3/4 self-center;
//     }
//     figure img {
//       @apply m-auto;
//     }
//   }
// }
// @media only screen and (max-width: 700px) {
//   .images {
//     column-count: 1 !important;
//   }
// }

.blog h1 {
  text-shadow: 1px 1px 5px black;
}

.block-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-center;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  p {
    @apply w-full lg:w-1/2 self-center;
  }
}
a {
  @apply underline;
}
